@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* variaveis */
  --cor-princ: #191c03;
  --cor-icon: #c3c63b; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 70%;
  transition: all 150ms ease-in; }

a:hover {
  opacity: 100%; }

.caracteristicas {
  background-color: var(--cor-princ);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px; }
  .caracteristicas h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center; }
  .caracteristicas p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center; }
  .caracteristicas hr {
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none; }
  .caracteristicas .grid {
    width: 100%;
    display: flex; }
    .caracteristicas .grid li {
      padding: 0 30px;
      text-align: center; }
      .caracteristicas .grid li i {
        color: var(--cor-icon);
        font-size: 3.5rem;
        margin-bottom: 30px; }
      .caracteristicas .grid li h4 {
        font-size: 1.5rem;
        color: var(--cor-icon);
        margin-bottom: 30px; }

@media (max-width: 850px) {
  .caracteristicas .grid {
    flex-direction: column; } }

.conheca-o-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px; }
  .conheca-o-hotel h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: var(--cor-princ);
    text-align: center; }
  .conheca-o-hotel p {
    max-width: 800px;
    margin-bottom: 35px;
    color: var(--cor-princ);
    text-align: center; }
  .conheca-o-hotel hr {
    width: 200px;
    height: 2px;
    background-color: var(--cor-princ);
    margin-bottom: 70px;
    border: none; }
  .conheca-o-hotel .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .conheca-o-hotel .grid li {
      height: 350px;
      padding: 20px;
      border-radius: 4px;
      background-clip: content-box;
      background-size: cover;
      position: center; }
    .conheca-o-hotel .grid .small {
      flex-basis: 40%; }
    .conheca-o-hotel .grid .large {
      flex-basis: 60%; }

@media (max-width: 700px) {
  .conheca-o-hotel .grid .small, .conheca-o-hotel .grid .large {
    flex-basis: 100%; } }

.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 15px; }
  .hero h2 {
    font-size: 2rem;
    margin-bottom: 15px; }
  .hero .btn {
    background-color: #fff;
    border-radius: 4px;
    color: var(--cor-princ);
    padding: 20px 50px;
    text-transform: uppercase; }

@media (max-width: 700px) {
  .hero h1 {
    font-size: 2.5rem; }
  .hero h3 {
    font-size: 1.5rem; } }

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px; }
  .newsletter h3 {
    color: var(--cor-icon);
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center; }
  .newsletter p {
    color: var(--cor-icon);
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center; }
  .newsletter hr {
    width: 200px;
    height: 2px;
    background-color: var(--cor-icon);
    margin-bottom: 70px;
    border: none; }
  .newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px; }
  .newsletter input {
    padding: 15px;
    border: 1px solid var(--cor-icon);
    border-radius: 4px;
    margin-right: 20px;
    flex: 1; }
  .newsletter button {
    padding: 15px;
    background-color: var(--cor-icon);
    color: var(--cor-princ);
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer; }

@media (max-width: 700px) {
  .newsletter input {
    flex-basis: 100%;
    margin-bottom: 15px; } }

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-princ);
  padding: 50px 0;
  align-items: center; }
  footer ul {
    display: flex;
    margin-bottom: 25px; }
  footer li {
    margin-right: 10px; }
  footer li:last-child {
    margin-right: 0; }
  footer a {
    color: var(--cor-icon);
    font-size: 2rem; }
  footer p {
    color: var(--cor-icon);
    text-align: center; }

header {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; }
  header img {
    width: 200px; }
  header ul {
    display: flex;
    flex-direction: row; }
  header li {
    margin: 0 15px; }
    header li a {
      color: var(--cor-princ); }
  header li:first-child {
    margin-left: 0; }
  header li:last-child {
    margin-right: 0; }

@media (max-width: 700px) {
  header {
    flex-direction: column; }
    header img {
      margin-bottom: 20px; } }
